<!DOCTYPE HTML>
<html>
<head>
<title>Perth Property Prices</title>
<meta charset="utf-8">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="../static/css/5grid/init.js?use=mobile,desktop"></script>
<script src="../static/js/jquery.formerize-1.1.js"></script>
<script src="../static/js/init.js"></script>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<noscript>
<link rel="stylesheet" href="../static/css/5grid/core.css">
<link rel="stylesheet" href="../static/css/5grid/core-desktop.css">
<link rel="stylesheet" href="../static/css/5grid/core-1200px.css">
<link rel="stylesheet" href="../static/css/5grid/core-noscript.css">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/style-desktop.css">
<link rel="stylesheet" href="../static/css/noscript.css">

</noscript>
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/ie8.css">
<![endif]-->
</head>
<body class="homepage">
<div id="wrapper">
  <nav id="nav"> 
  <a href="#home" class="icon icon-home active"><span>Introduction</span></a> 
  <a href="#story" class="icon icon-book"><span>Story</span></a> 
  <a href="#predict" class="icon icon-album"><span>Predictions</span></a> 
  <a href="#about" class="icon icon-info"><span>About</span></a> </nav>
  <div id="main">
    <article id="home" class="panel">
      <header>
        <h2 style="text-align:center">City of Perth Property Price</h2><hr>
      </header>
        <table>
          <tr>

            <td>
              <ul> <h3><b>Introduction:</b></h3>
                <li>This project explores the property prices in the City of Perth.<br> 
                  This includes the 6 suburbs that falls under the local government :<br> 
                  Perth, East Perth, West Perth, Northbridge, Crawley and Nedlands.

                </li>

              </ul>
            </td>

      <td>      
        <ul> <b>This project sets out to answer the following :</b>
          <li>🏡 What are the price range of each suburb?</li>
          <li>🏠 What are the property type that people are interested in buying?</li>
          <li>🏡 Which age range does the sold properties mostly fall under? </li>
          <li>🏠 Does the number of car park affect property price?</li>
          <li>🏡 What are the key factors that are impacting the property price?</li>
          <li>🏠 Are some properties better to rent or buy? </li>
          <li>🏡 How much is the return of investment? </li>
          <li>🏠 Have Covid-19 impacted the Real Estate market? </li>
        </ul>
        <br>
        <br>
        <br>

   
        <a href="#story" class="jumplink">
          <div class="explore">
            <div class="button_base1 b03_skewed_slide_in">
                <div>Explore the Story Board</div>
                <div></div>
                <div>Explore the Story Board ➡</div>
            </div>
        </div>  
        </a>
        
      </td>
          </tr>
         </table>
    </article>
    <article id="story" class="panel">
      <header>
        <h2 style="text-align:center">City of Perth Properties Story</h2><hr> 

      </header>

      <section class="5grid is-gallery">
	   <div id="story">
      <div class='tableauPlaceholder' id='viz1629537112605' style='position: relative'>
        <noscript>
        <a href='#'><img alt='Perth City Properties Story ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PerthCityProperties&#47;PerthCityPropertiesStory&#47;1_rss.png' style='border: none' /></a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='PerthCityProperties&#47;PerthCityPropertiesStory' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PerthCityProperties&#47;PerthCityPropertiesStory&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-GB' />
        <param name='filter' value='publish=yes' />
      </object></div>
      <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1629537112605');
        var vizElement = divElement.getElementsByTagName('object')[0];   
        vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
      </section>
    </article>
	
    <article id="predict" class="panel">
      <header>
        <h2 style="text-align:center">Property Prediction</h2>
		    <hr>
      </header>
	    <section class="5grid is-gallery">
        <div class="container">
          <div class= "row">
            <div class="column">
				      <!-- div for the leaflet map here -->
              <div id="map"></div>
            </div>
            <div class="column">
              <div id="prediction">
                <div id ="inputfields">

                  <p><b><u>Input for Predictions</b></u></p>

                  <div>
                    <label for="Bedroom">Bedroom: </label><br>
                    <input type="range" id="bed" name="Bedroom" min="0" max="10" value="5" step="1" oninput="bedroom_range.value = bed.value">
                    <output id="bedroom_range">5</output>
                  </div>

                  <div>
                    <label for="Bathroom">Bathroom: </label><br>
                    <input type="range" id="bath" name="Bathroom" min="0" max="6" value="3" step="1" oninput="bathroom_range.value = bath.value">
                    <output id="bathroom_range">3</output>
                  </div>

                  <div>
                    <label for="CarSpaces">Car Spaces: </label><br>
                    <input type="range" id="car" name="CarSpaces" min="0" max="10" value="5" step="1" oninput="carspaces_range.value = car.value">
                    <output id="carspaces_range">3</output>
                  </div>

                  <hr>
                  <div>
                    <label for="landsize">Land Size: </label><br>
                    <input type="text" id="land" name="land_size" onkeypress="return onlyNumberKey(event)" maxlength="4" placeholder="eg. 1 - 1500">
                  </div>

                  <div>
                    <label for="built">Built Size: </label><br>
                    <input type="text" id="built" name="built_size" onkeypress="return onlyNumberKey(event)" maxlength="4" placeholder="eg. 1 - 1000">
                  </div>

                  <div> 
                    <label for="builtdate">Built Date: </label><br>
                    <input type="text" id="builtdate" name="built_date" onkeypress="return onlyNumberKey(event)" maxlength="4" placeholder="eg. 1900 - 2020">
                  </div>

                  <hr>
        
                  <div>
                    <label for="suburbs">Choose Suburb:</label><br>
                      <select name="suburbs" id="suburbs">
                        <option value="perth">Perth</option>
                        <option value="eastp">East Perth</option>
                        <option value="westp">West Perth</option>
                        <option value="crawley">Crawley</option>
                        <option value="northbridge">Northbridge</option>
                        <option value="nedlands">Nedlands</option>
                      </select>
                  </div>

                  <br>
                  <br>

                  <div class="submit">
                    <button type="button" id="submit_this" class="button_base b05_3d_roll" >
                      <div>Submit</div>
                      <div>Submit</div>
                    </button>
                  </div>

                  <!-- The Modal -->
                  <div id="myModal" class="modal" style=display:none>

                   <!-- Modal content -->
                  <div id="modal-content">
                  <p id="input_error"></p>
                  <button class="close">Try Again</button>
                  </div>
                    </div>

                </div>
              </div>


      
            </div>
        
          </div> 
        </div>	  
      </section>
    </article>
	
	<article id="about" class="panel">
<h2 style="text-align:center">About</h2><hr>

  
            <h4>Team</h4>
            <p>Our group consists of two members and this project is a part of our Bootcamp in Data Analytics,
               organised by University of Western australia. </p> 
            <table>
              <tr>
			  <td><a href="https://github.com/helenamin" target="_blank"><img class="profile" src="https://avatars.githubusercontent.com/u/78719440?v=4" width=240px alt="Helen's Profile Image"></a>
			  <b>Helen Amin</b></td>
              <td><a href="https://foofx88.github.io" target="_blank"><img class="profile" src="https://avatars.githubusercontent.com/u/78995824?v=4"width=240px alt="FX's Profile Image"></a>
			  <b>FX Foo</b></td>
			  </tr>
            </table>

            <h4>Aim</h4>
             <p>The aim of this project is to assist potential buyers and investors to get a better predicted property price.
			 We've utilised Machine Learning Model to train existing dataset for better accuracy.
			 Potential buyers and investors can then explore the properties in the City of Perth through the visualised story board. </p>                

            
            <h4>Future Developments</h4>
        
            <ul>
             <li>To expand the current scope to include more suburbs around WA or even Australia</li>
             <li>Train Machine Learning model for Apartments and Units. This was not included in the current project as there are many factors involve in determining
              the price for an Apartment and Unit such as views, building and location</li>
             <li>Include school catchments area, amenities such as shops, public transports to improve predictions</li>                
            </ul>

            <h4>Datasets</h4>

            <ol>
             <li><a href="http://house.speakingsame.com/" target="_blank">http://house.speakingsame.com/</a></li>
			 <li><a href="https://www.onthehouse.com.au/" target="_blank">https://www.onthehouse.com.au/</a></li>
			 <li><a href="https://www.propertyvalue.com.au/" target="_blank">https://www.propertyvalue.com.au/</a></li>			 
            </ol>            
      </section>
    </article>
	
	
  </div>
  <div id="footer">
    <ul class="links">
      

      <p>Built modified version of Astral from <a href="http://html5up.net/">HTML5 Up!</a></p>
    </ul>
  </div>
</div>

<!-- Optional JavaScript -->
  
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <!-- essential js files for charts -->
    <!-- Leaflet JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <script type="text/javascript" src="../static/js/logic.js"></script>


</body>
</html>

